<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head th:include="include :: header"></head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style type="text/css">
	body, html{
	height: 100%;
	width: 99%;
	margin:0;
	font-family:"微软雅黑";}
	.layui-body{
		height: 100%;
		width: 100%;
		margin:0;
	}
	._upDiv{
		height: 65%;
	}
	.layui-col-md3,.layui-col-md6{
		height: 100%;
	}
	.grid-demo{
		width: 100%;
	}
	.layui-table td, .layui-table th, .layui-table-col-set, .layui-table-fixed-r, .layui-table-grid-down, .layui-table-header, .layui-table-page, .layui-table-tips-main, .layui-table-tool, .layui-table-total, .layui-table-view, .layui-table[lay-skin=line], .layui-table[lay-skin=row]{
		    border-width: 0px;
    border-style: solid;
    border-color: #e6e6e6;
	}
	.panel-body{
		padding-top: 10px;
	}
	.layui-col-md3{
		background-color: white;
	}
	.layui-table-page{
		text-align: center;
	}
	._left_table .layui-table td, .layui-table th{
		font-size: 12px;
	}
	</style>
	<script type="text/javascript" src="https://api.map.baidu.com/api?v=3.0&ak=zHxB5vhv7wqKIrVTkLm4dGpM57uL6NNg"></script>
	<title>地图展示</title>
</head>
<body >
	 <div class="layui-row layui-col-space5 _upDiv">
	    <div class="layui-col-md3">
	      <div class="grid-demo">
				<table class="layui-table _left_table" lay-skin="line" >
					<tr>
						<td>IMEI</td>
						<td class="_imei"></td>
					</tr>
					<tr>
						<td>序列号</td>
						<td class="_eqptSn"></td>
					</tr>
					<tr>
						<td>设备名称</td>
						<td class="_eqptName"></td>
					</tr>
					<tr>
						<td>设备状态</td>
						<td class="_eqptStatus"></td>
					</tr>
					<tr>
						<td>地址</td>
						<td class="_address"></td>
					</tr>
				</table>
	      </div>
	    </div>
	    <div class="layui-col-md6" id="allmap">
	    </div>
	    <div class="layui-col-md3">
			<div class="grid-demo">
				<div class="layui-row layui-col-space10 _upDiv">
					<div class="layui-inline" style="width: 100%">
						<input type="text" class="layui-input" id="times" width="100%">
					</div>
					<div class="layui-col-xs6">
						<div class="panel layui-bg-number">
							<div class="panel-body">
								<div class="panel-title">
									<span class="label pull-right layui-bg-blue">实时</span>
									<h5>过流告警</h5>
								</div>
								<div class="panel-content">
									<h1 class="no-margins overCurrentAlarm"></h1>
									<small>当前分类总记录数</small>
								</div>
							</div>
						</div>
					</div>
					<div class="layui-col-xs6">
						<div class="panel layui-bg-number">
							<div class="panel-body">
								<div class="panel-title">
									<span class="label pull-right layui-bg-cyan">实时</span>
									<h5>线温告警</h5>
								</div>
								<div class="panel-content">
									<h1 class="no-margins temperatureAlarm"></h1>
									<small>当前分类总记录数</small>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="layui-row layui-col-space10">
					<div class="layui-col-xs6">
						<div class="panel layui-bg-number">
							<div class="panel-body">
								<div class="panel-title">
									<span class="label pull-right layui-bg-blue">实时</span>
									<h5>过载告警</h5>
								</div>
								<div class="panel-content">
									<h1 class="no-margins overloadAlarms"></h1>
									<small>当前分类总记录数</small>
								</div>
							</div>
						</div>
					</div>
					<div class="layui-col-xs6">
						<div class="panel layui-bg-number">
							<div class="panel-body">
								<div class="panel-title">
									<span class="label pull-right layui-bg-cyan">实时</span>
									<h5>过压告警</h5>
								</div>
								<div class="panel-content">
									<h1 class="no-margins overVoltageAlarm"></h1>
									<small>当前分类总记录数</small>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="layui-row layui-col-space10">
					<div class="layui-col-xs6">
						<div class="panel layui-bg-number">
							<div class="panel-body">
								<div class="panel-title">
									<span class="label pull-right layui-bg-blue">实时</span>
									<h5>欠压告警</h5>
								</div>
								<div class="panel-content">
									<h1 class="no-margins underVoltageAlarm"></h1>
									<small>当前分类总记录数</small>
								</div>
							</div>
						</div>
					</div>
					<div class="layui-col-xs6">
						<div class="panel layui-bg-number">
							<div class="panel-body">
								<div class="panel-title">
									<span class="label pull-right layui-bg-cyan">实时</span>
									<h5>掉电告警</h5>
								</div>
								<div class="panel-content">
									<h1 class="no-margins useingTheAlarm"></h1>
									<small>当前分类总记录数</small>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="layui-row layui-col-space10">
					<div class="layui-col-xs6">
						<div class="panel layui-bg-number">
							<div class="panel-body">
								<div class="panel-title">
									<span class="label pull-right layui-bg-blue">实时</span>
									<h5>漏电流告警</h5>
								</div>
								<div class="panel-content">
									<h1 class="no-margins leakageAlarm"></h1>
									<small>当前分类总记录数</small>
								</div>
							</div>
						</div>
					</div>
					<div class="layui-col-xs6">
						<div class="panel layui-bg-number">
							<div class="panel-body">
								<div class="panel-title">
									<span class="label pull-right layui-bg-cyan">实时</span>
									<h5>烟雾告警</h5>
								</div>
								<div class="panel-content">
									<h1 class="no-margins smokeAlarm"></h1>
									<small>当前分类总记录数</small>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
  	</div>
  	<div class="layui-row">
  		<table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
  	</div>
  	<div th:include="include::footer"></div>
<script th:inline="none">
var dataRow = window.parent.dataRow;
$("._imei").text(dataRow.imei);
$("._eqptSn").text(dataRow.eqptSn);
$("._eqptName").text(dataRow.eqptName);
$("._eqptStatus").text(dataRow.eqptStatus == 9000 ?'在线':'离线');
$("._address").text(dataRow.province + dataRow.city + dataRow.district + dataRow.address);
var map = new BMap.Map("allmap");    // 创建Map实例
map.centerAndZoom(new BMap.Point(113.261081,23.128689), 15);  // 初始化地图,设置中心点坐标和地图级别
//添加地图类型控件
map.addControl(new BMap.MapTypeControl({
	mapTypes:[
        BMAP_NORMAL_MAP,
        BMAP_HYBRID_MAP
    ]}));	  
//添加带有定位的导航控件
var navigationControl = new BMap.NavigationControl({
  // 靠左上角位置
  anchor: BMAP_ANCHOR_TOP_LEFT,
  // LARGE类型
  type: BMAP_NAVIGATION_CONTROL_LARGE,
  // 启用显示定位
  enableGeolocation: true
});
map.addControl(navigationControl);  
// 添加定位控件
var geolocationControl = new BMap.GeolocationControl();
geolocationControl.addEventListener("locationSuccess", function(e){
  // 定位成功事件
  var address = '';
  address += e.addressComponent.province;
  address += e.addressComponent.city;
  address += e.addressComponent.district;
  address += e.addressComponent.street;
  address += e.addressComponent.streetNumber;
  alert("当前定位地址为：" + address);
});
geolocationControl.addEventListener("locationError",function(e){
  // 定位失败事件
  alert(e.message);
});
map.addControl(geolocationControl);
map.enableScrollWheelZoom(true);//开启鼠标滚轮缩放
console.log(dataRow.latitude + "---------------》" +dataRow.longitude)
/* var point = new BMap.Point(dataRow.latitude,dataRow.longitude);
var marker = new BMap.Marker(point); */
var vectorMarker = new BMap.Marker(new BMap.Point(dataRow.latitude,dataRow.longitude), {
	  // 指定Marker的icon属性为Symbol
	  icon: new BMap.Symbol(BMap_Symbol_SHAPE_POINT, {
	    scale: 1.5,//图标缩放大小
	    fillColor: "orange",//填充颜色
	    fillOpacity: 0.8//填充透明度
	  })
	});
map.addOverlay(vectorMarker);
	
	layui.use(['layer', 'echarts','laydate','table'], function () {
		var jsonEntity = {};
    	jsonEntity.imei = dataRow.imei;
    	jsonEntity.startTime = fun_day(-7).substring(0,10);
    	jsonEntity.endTime = fun_day(1).substring(0,10);
    	
        var $ = layui.jquery,
            layer = layui.layer,
            echarts = layui.echarts,
        	laydate = layui.laydate,
        	table = layui.table;
        
        var value = fun_day(-7).substring(0,10) + " - " +new Date().Format("yyyy-MM-dd");
        var d = laydate.render({
            elem: '#times'
            ,range: true
            ,max : 'today'
            ,value: value
            ,btns: ['confirm']
            ,ready: function(date){
                $(".laydate-footer-btns").after('<span lay-type="_week" class="_week">最近七天</span>');
                $(".laydate-footer-btns").after('<span lay-type="_one_month" class="_one_month">最近一个月</span>');
                $(".laydate-footer-btns").after('<span lay-type="_three_month" class="_three_month">最近三个月</span>');
                var  _thisid=this.elem;
                $("._week").on('click',function(){
                	var date = new Date();
                	var t = fun_day(-7).substring(0,10) + " - " +  date.Format("yyyy-MM-dd");
                	_thisid.val(t);
                	$("#times").focus();
                	$(".laydate-btns-confirm").trigger('click');
                })
                $("._one_month").on('click',function(){
                	var date = new Date();
                	console.log(date.Format("yyyy-MM-dd"));
                	var t = fun_month(-1).substring(0,10) + " - " +  date.Format("yyyy-MM-dd");
                	_thisid.val(t);
                	$("#times").focus();
                	$(".laydate-btns-confirm").trigger('click');
                })
                $("._three_month").on('click',function(){
                	var date = new Date();
                	var t = fun_month(-3).substring(0,10) + " - " +  date.Format("yyyy-MM-dd");
                	_thisid.val(t);
                	$("#times").focus();
                	$(".laydate-btns-confirm").trigger('click');
    				
                })
                
                $(".laydate-btns-clear").on('click',function(){
		        	_thisid.val(null);
		        	$("#times").focus();
		        	$(".laydate-btns-confirm").trigger('click');
        		})
            },done: function(value, date, endDate){
            	if(value.length != 0){
                    var jsonEntity = {};
                    var arr = value.split(" - ");
                	jsonEntity.imei = dataRow.imei;
                	jsonEntity.startTime = $.trim(arr[0]);
                	var d = new Date($.trim(arr[1]));
                	jsonEntity.endTime = fun_days(1,d).substring(0,10);
                    loadTable(jsonEntity);
                    initAlarm(jsonEntity);
            	}
              }
          });
        initAlarm(jsonEntity);
        loadTable(jsonEntity);
    	function loadTable(jsonEntity){
    		table.render({
    	        elem: '#currentTableId',
    	        url: getRootPath() + '/receive/alarm/info',
    	        headers: { "Authorization": authorization ,"dz-usr":authUser.uid},//通过请求头来发送token，放弃了通过cookie的发送方式
    	        where : jsonEntity,
    	        async : false,
    	        cols: [[
    	            {field: 'addTime',title: '告警时间'},
    	            {field: 'imei',title: 'imei'},
    	            {field: 'eqptAddr', title: '地址',
    	   			 templet : function(row) {
    		   				if (typeof(row.eqptAdrr) == "undefined")
    		   				{
    		   					return row.province + row.city + row.district;
    		   				}
    						return row.province + row.city + row.district + row.eqptAdrr;
    					}},
    	            {field: 'eqptName',  
    	             title: '名称'
    				 },
    				 {field: 'alarmMsg', 
    					 width : '15%',
    		          title: '告警内容',
    		          align: 'center' ,
    		          templet : function(row) {
    			        	 if(typeof(row.alarmMsg) == 'undefined'){
    			        		 return '';
    			        	 }else{
    			        		 var alarmInfo = JSON.parse(row.alarmMsg);
    			        		 return _alarmIcons(row.alarmType.split(","),alarmInfo);
    			        	 }
    					   }
    				 }
    	        ]],
    	        limits: [3, 10, 20, 25, 50, 100],
    	        limit: 3,
    	        page: true,
    	        skin: 'line',
    	        done : function(res, curr, count) {
    				currentPage = curr;
    			}
    	    });
    	}
        
	});
	 function initAlarm(e){
		$.ajax({
    		url: "/statistics/one/dev",
    	    type: "GET",
    	    data:e,
    	    dataType : "json",
    	    cache:true, 
            async:false, 
    　　			contentType: "application/json;charset=utf-8",
    	    headers: { "Authorization": authorization ,"dz-usr": authUser.uid},//通过请求头来发送token，放弃了通过cookie的发送方式
    	    success:function(data){
    	    	
    	    	$.each(data.result.data,function(index,xx){
    	    		$("." + index).text(xx);
    	    	})
    	    	
    	    }
    	});
	}
	 /*获取LAC 和CID 的到基站的经纬度*/
	var lacCidEntity = {};
	lacCidEntity.alarmType = 1;
	lacCidEntity.imei = dataRow.imei;
	lacCid(lacCidEntity);
	function lacCid(e){
		$.ajax({
    		url: "/receive/info",
    	    type: "GET",
    	    data:e,
    	    dataType : "json",
    	    cache:true, 
            async:false, 
    　　			contentType: "application/json;charset=utf-8",
    	    headers: { "Authorization": authorization ,"dz-usr": authUser.uid},//通过请求头来发送token，放弃了通过cookie的发送方式
    	    success:function(data){
    	    	console.log(data.cid + "------------>" + data.lac)
    	    }
    	});
	}
</script>
</body>
</html>

