<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head th:include="include :: header"></head>
<head>
    <meta charset="utf-8">
    <title>历史数据</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script th:src="@{/js/echarts.min.js}"></script>
    <style type="text/css">
    	._chart{
    		height: 500px;
    	}
    	
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-row" >
		   <span>设备序列号：</span>
		   <hr>
		</div>
		<div class="layui-row" >
		   <div class="_chart" id="main_01">
		   	
		   </div>
		</div>
    </div>
   </div>
<div th:include="include::footer"></div>
<script th:inline="none">
layui.use(['layer', 'echarts'], function () {
    var $ = layui.jquery,
        layer = layui.layer,
        echarts = layui.echarts;

    /**
     * 报表功能
     */
    var echartsRecords = echarts.init(document.getElementById('main_01'), 'walden');

    var optionRecords =option = {
    	    title: {
    	        text: '折线图堆叠'
    	    },
    	    tooltip: {
    	        trigger: 'axis'
    	    },
    	    legend: {
    	        data: ['邮件营销', '联盟广告', '视频广告', '直接访问', '搜索引擎']
    	    },
    	    grid: {
    	        left: '3%',
    	        right: '4%',
    	        bottom: '3%',
    	        containLabel: true
    	    },
    	    toolbox: {
    	        feature: {
    	            saveAsImage: {}
    	        }
    	    },
    	    xAxis: {
    	        type: 'category',
    	        boundaryGap: false,
    	        data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
    	    },
    	    yAxis: {
    	        type: 'value'
    	    },
    	    series: [
    	        {
    	            name: '邮件营销',
    	            type: 'line',
    	            stack: '总量',
    	            data: [120, 132, 101, 134, 90, 230, 210]
    	        },
    	        {
    	            name: '联盟广告',
    	            type: 'line',
    	            stack: '总量',
    	            data: [220, 182, 191, 234, 290, 330, 310]
    	        },
    	        {
    	            name: '视频广告',
    	            type: 'line',
    	            stack: '总量',
    	            data: [150, 232, 201, 154, 190, 330, 410]
    	        },
    	        {
    	            name: '直接访问',
    	            type: 'line',
    	            stack: '总量',
    	            data: [320, 332, 301, 334, 390, 330, 320]
    	        },
    	        {
    	            name: '搜索引擎',
    	            type: 'line',
    	            stack: '总量',
    	            data: [820, 932, 901, 934, 1290, 1330, 1320]
    	        }
    	    ]
    	};
    echartsRecords.setOption(optionRecords);

    // echarts 窗口缩放自适应
    window.onresize = function () {
    	hxtOne.resize();
    }

});
</script>

</body>
</html>