<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head th:include="include :: header"></head>
<head>
    <meta charset="utf-8">
    <title>设备读数</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script th:src="@{/js/echarts.min.js}"></script>
    <style type="text/css">
    	body{
    		background-color: #1B1B1B;
    	}
    	.grid-demo{
    		height: 350px;
    		width: 33.3333;
    	}
    </style>
</head>
<body>
<div >
        <div class="layui-row _init" >
        	
		    <div class="layui-col-md12">
		      <div class="grid-demo-bg1" style="color: white;padding-left: 20px;">
		      	<br>
		      	<span>设备：</span>
		      	<span class="_imei"></span>
		      	<span>设备类型：</span>
		      	<span class="_eqptType"></span>
		      	<span>最新读数</span>
		      	<span><i class="layui-icon layui-icon-refresh"></i></span>
		      	<br>
		      	<span>读数时间：</span>
		      	<span class="_time"></span>
		      	<br>
		      	<span>设备地址：</span>
		      	<span class="_address"></span>
		      </div>
		      <div align="right" class="_center_vertically" style="float: right;height: 100%;">
		      	 <a href="#" style="color: white;padding-right: 20px;font-size: 24px;" >更多历史数据</a>
		      </div>
		    </div>
		</div>
        <div class="layui-row _single">
		    <div class="layui-col-md4" align="center">
		      <div class="grid-demo grid-demo-bg1" id="line_temp" data-unit = '℃' data-name='温升读数' data-min = '0' data-max = '100' data-value='0'>
		      </div>
		       <span style="color: white;font-size: 30px" class="_gauge_param">温升读数</span>
		    </div>
		    <div class="layui-col-md4" align="center">
		      <div class="grid-demo" id="leak_cur" data-unit = 'mA' data-name='漏电流读数' data-min = '0' data-max = '100' data-value='0'></div>
		     <span style="color: white;font-size: 30px" class="_gauge_param">漏电流读数</span>
		    </div>
		    <div class="layui-col-md4" align="center">
		      <div class="grid-demo" id="kwh" data-unit = 'KWH' data-name='电能读数' data-min = '0' data-max = '1000' data-value='0'></div>
		      <span style="color: white;font-size: 30px" class="_gauge_param">电能读数</span>
		    </div>
		</div>
		<div class="layui-row _triple">
		    <div class="layui-col-md3" align="center">
		      <div class="grid-demo grid-demo-bg1" id="line_temp_01" data-unit = '℃' data-name='温升读数' data-min = '0' data-max = '100' data-value='0'>
		      </div>
		       <span style="color: white;font-size: 30px" class="_gauge_param">温升读数</span>
		    </div>
		    <div class="layui-col-md3" align="center">
		      <div class="grid-demo" id="leak_cur_01" data-unit = 'mA' data-name='漏电流读数' data-min = '0' data-max = '100' data-value='0'></div>
		     <span style="color: white;font-size: 30px" class="_gauge_param">漏电流读数</span>
		    </div>
		    <div class="layui-col-md3" align="center">
		      <div class="grid-demo" id="kwh_01" data-unit = 'KWH' data-name='电能读数' data-min = '0' data-max = '9000' data-value='0'></div>
		      <span style="color: white;font-size: 30px" class="_gauge_param">电能读数</span>
		    </div>
		    <div class="layui-col-md3" align="center">
		      <div class="grid-demo" id="csq_01" data-unit = '' data-name='信号读数' data-min = '0' data-max = '31' data-value='0'></div>
		      <span style="color: white;font-size: 24px" class="_gauge_param">信号读数</span>
		    </div>
		</div>
		<div class="layui-row _single">
		    <div class="layui-col-md3" align="center" >
		      <div class="grid-demo grid-demo-bg1" id="cur" data-unit = 'A' data-name='电流读数' data-min = '0' data-max = '100' data-value='0' ></div>
		      <span style="color: white;font-size: 24px" class="_gauge_param">电流读数</span>
		    </div>
		    <div class="layui-col-md3"  align="center">
		      <div class="grid-demo" id="vol" data-unit = 'V' data-name='电压读数' data-min = '0' data-max = '360' data-value='0'  ></div>
		      <span style="color: white;font-size: 24px" class="_gauge_param">电压读数</span>
		    </div>
		    <div class="layui-col-md3" align="center">
		      <div class="grid-demo" id="pwr" data-unit = 'W' data-name='功率读数' data-min = '0' data-max = '5000' data-value='0'></div>
		      <span style="color: white;font-size: 24px" class="_gauge_param">功率读数</span>
		    </div>
		    <div class="layui-col-md3" align="center">
		      <div class="grid-demo" id="csq" data-unit = '' data-name='信号读数' data-min = '0' data-max = '31' data-value='0'></div>
		      <span style="color: white;font-size: 24px" class="_gauge_param">信号读数</span>
		    </div>
		</div>
		
		<div class="layui-row _triple">
		    <div class="layui-col-md4" align="center" >
		      <div class="grid-demo grid-demo-bg1" id="cur_01" data-unit = 'A' 
		      data-name='电流读数' data-min = '0' data-max = '100' 
		      data-b="B相" data-c="C相" data-va='0' data-vb='0' data-vc='0'></div>
		      <span style="color: white;font-size: 24px" class="_gauge_param">电流读数</span>
		    </div>
		    <div class="layui-col-md4"  align="center">
		      <div class="grid-demo" id="vol_01" data-unit = 'V' 
		      data-name='电压读数' data-min = '0' data-max = '360' 
		      data-b="B相" data-c="C相"
		      data-va='0' data-vb='0' data-vc='0'></div>
		      <span style="color: white;font-size: 24px" class="_gauge_param">电压读数</span>
		    </div>
		    <div class="layui-col-md4" align="center">
		      <div class="grid-demo" id="pwr_01" data-unit = 'W' 
		      data-name='功率读数' data-min = '0' data-max = '5000' 
		      data-b="B相" data-c="C相"
		      data-va='0' data-vb='0' data-vc='0'></div>
		      <span style="color: white;font-size: 24px" class="_gauge_param">功率读数</span>
		    </div>
		</div>
    </div>
<div th:include="include::footer"></div>
<script th:inline="none">
	var entity = {},eqptType;
	/*获取URL-->IMEI*/
	entity.imei = $.getUrlParam('imei');
	entity.alarmType = 1;
	/*根据ID生成仪表盘Echarts对象*/
	var _chart = function(id){
		return  echarts.init(document.getElementById(id),'walden');
	}
	layui.use(['layer'], function () {
		layer = layui.layer;
		/*加载仪表盘*/
		initPanel();
	})
	/*加载设备信息*/
	$.ajax({
		url: "/equipment/info",
	    type: "GET",
	    data:entity,
	    dataType : "json",
	    cache:true, 
        async:false, 
　　		contentType: "application/json;charset=utf-8",
	    headers: { "Authorization": authorization ,"dz-usr": authUser.uid},//通过请求头来发送token，放弃了通过cookie的发送方式
	    success:function(data){
	    	eqptType = data.data[0].eqptType;
	    	$("._imei").text(data.data[0].imei);
	    	$("._time").text(data.data[0].addTime);
	    	$("._address").text(data.data[0].province + data.data[0].city +  data.data[0].district + data.data[0].address);
	    	if(data.data[0].eqptType == 0){
	    		$("._eqptType").attr('data-type',data.data[0].eqptType);
	    		$("._eqptType").text('单相设备');
	    	}
	    	else if(data.data[0].eqptType == 1){
	    		$("._eqptType").attr('data-type',data.data[0].eqptType);
	    		$("._eqptType").text('烟感设备');
	    	}else if(data.data[0].eqptType == 2){
	    		$("._eqptType").attr('data-type',data.data[0].eqptType);
	    		$("._eqptType").text('三相设备');
	    	}
	    }
	});
	/*单相设备 仪表盘参数*/
	var _singleOption = function(v){
		var option = {
			    backgroundColor: '#1b1b1b',
			    tooltip: {
			        formatter: '{a} <br/>{c} {b}'
			    },
			    toolbox: {
			        show: true,
			        feature: {
			            mark: {show: true},
			            restore: {show: true},
			            saveAsImage: {show: true}
			        }
			    },
			    series: [
			        {
			            name: v.data('name'),
			            type: 'gauge',
			            min: parseInt(v.data('min')),
			            max: parseInt(v.data('max')),
			            splitNumber: 10,
			            radius: '80%',
			            axisLine: {            // 坐标轴线
			                lineStyle: {       // 属性lineStyle控制线条样式
			                    color: [[0.09, 'lime'], [0.82, '#1e90ff'], [1, '#ff4500']],
			                    width: 3,
			                    shadowColor: '#fff', //默认透明
			                    shadowBlur: 10
			                }
			            },
			            axisLabel: {            // 坐标轴小标记
			                fontWeight: 'bolder',
			                color: '#fff',
			                shadowColor: '#fff', //默认透明
			                shadowBlur: 10
			            },
			            axisTick: {            // 坐标轴小标记
			                length: 15,        // 属性length控制线长
			                lineStyle: {       // 属性lineStyle控制线条样式
			                    color: 'auto',
			                    shadowColor: '#fff', //默认透明
			                    shadowBlur: 10
			                }
			            },
			            splitLine: {           // 分隔线
			                length: 25,         // 属性length控制线长
			                lineStyle: {       // 属性lineStyle（详见lineStyle）控制线条样式
			                    width: 3,
			                    color: '#fff',
			                    shadowColor: '#fff', //默认透明
			                    shadowBlur: 10
			                }
			            },
			            pointer: {           // 分隔线
			                shadowColor: '#fff', //默认透明
			                shadowBlur: 5
			            },
			            title: {
			                textStyle: {       // 其余属性默认使用全局文本样式，详见TEXTSTYLE
			                    fontWeight: 'bolder',
			                    fontSize: 20,
			                    fontStyle: 'italic',
			                    color: '#fff',
			                    shadowColor: '#fff', //默认透明
			                    shadowBlur: 10
			                }
			            },
			            detail: {
			                backgroundColor: 'rgba(30,144,255,0.8)',
			                borderWidth: 1,
			                borderColor: '#fff',
			                shadowColor: '#fff', //默认透明
			                shadowBlur: 5,
			                offsetCenter: [0, '50%'],       // x, y，单位px
			                textStyle: {       // 其余属性默认使用全局文本样式，详见TEXTSTYLE
			                    fontWeight: 'bolder',
			                    color: '#fff'
			                },formatter: function (value) {
			                    if(v.data('unit') == ''){
			                    	if(value == 0){
			                    		return '无';
			                    	}else if(value < 7){
			                    		return '弱';
			                    	}else if(value >= 7 && value < 15.5){
			                    		return '中';
			                    	}else if(value >= 15.5){
			                    		return '强';
			                    	}
			                    }
			                	return value;
			                },
			            },
			            data: [{value: v.data('value'),name: v.data('unit')}]
			        }
			    ]
			};
		return option;
	}
	/*三项设备仪表盘参数*/
	var _tripleOption = function(v){
		var option = {
			    backgroundColor: '#1b1b1b',
			    tooltip: {
			        formatter: '{a} <br/>{c} {b}'
			    },
			    toolbox: {
			        show: true,
			        feature: {
			            mark: {show: true},
			            restore: {show: true},
			            saveAsImage: {show: true}
			        }
			    },
			    series: [
			        {
			            name: v.data('name'),
			            type: 'gauge',
			            min: parseInt(v.data('min')),
			            max: parseInt(v.data('max')),
			            splitNumber: 10,
			            radius: '70%',
			            axisLine: {            // 坐标轴线
			                lineStyle: {       // 属性lineStyle控制线条样式
			                    color: [[0.09, 'lime'], [0.82, '#1e90ff'], [1, '#ff4500']],
			                    width: 3,
			                    shadowColor: '#fff', //默认透明
			                    shadowBlur: 10
			                }
			            },
			            axisLabel: {            // 坐标轴小标记
			                fontWeight: 'bolder',
			                color: '#fff',
			                shadowColor: '#fff', //默认透明
			                shadowBlur: 10,
			                formatter: function (value) {
			                    if(v.data('unit') == 'W'){
			                    	return value / 1000 + "K";
			                    }
			                	return value;
			                }
			            },
			            axisTick: {            // 坐标轴小标记
			                length: 15,        // 属性length控制线长
			                lineStyle: {       // 属性lineStyle控制线条样式
			                    color: 'auto',
			                    shadowColor: '#fff', //默认透明
			                    shadowBlur: 10
			                }
			            },
			            splitLine: {           // 分隔线
			                length: 20,         // 属性length控制线长
			                lineStyle: {       // 属性lineStyle（详见lineStyle）控制线条样式
			                    width: 3,
			                    color: '#fff',
			                    shadowColor: '#fff', //默认透明
			                    shadowBlur: 10
			                }
			            },
			            pointer: {           // 分隔线
			                shadowColor: '#fff', //默认透明
			                shadowBlur: 5
			            },
			            title: {
			                textStyle: {       // 其余属性默认使用全局文本样式，详见TEXTSTYLE
			                    fontWeight: 'bolder',
			                    fontSize: 20,
			                    fontStyle: 'italic',
			                    color: '#fff',
			                    shadowColor: '#fff', //默认透明
			                    shadowBlur: 10
			                }
			            },
			            detail: {
			                backgroundColor: 'rgba(30,144,255,0.8)',
			                borderWidth: 1,
			                borderColor: '#fff',
			                shadowColor: '#fff', //默认透明
			                shadowBlur: 5,
			                offsetCenter: [0, '50%'],       // x, y，单位px
			                textStyle: {       // 其余属性默认使用全局文本样式，详见TEXTSTYLE
			                    fontWeight: 'bolder',
			                    color: '#fff'
			                },formatter: function (value) {
			                    if(v.data('unit') == 'W'){
			                    	return 0 - value;
			                    }
			                	return value;
			                }
			            },
			            data: [{value: v.data('va'), name: v.data('unit')}]
			        },
			        {
			            name: v.data('b'),
	           			type: 'gauge',
			            center: ['20%', '55%'],    // 默认全局居中
			            radius: '40%',
			            min: parseInt(v.data('min')),
			            max: parseInt(v.data('max')),
			            endAngle: 45,
			            splitNumber: 5,
			            axisLine: {            // 坐标轴线
			                lineStyle: {       // 属性lineStyle控制线条样式
			                    color: [[0.29, 'lime'], [0.86, '#1e90ff'], [1, '#ff4500']],
			                    width: 2,
			                    shadowColor: '#fff', //默认透明
			                    shadowBlur: 10
			                }
			            },
			            axisLabel: {            // 坐标轴小标记
			                fontWeight: 'bolder',
			                color: '#fff',
			                shadowColor: '#fff', //默认透明
			                shadowBlur: 10,
			                formatter: function (value) {
			                    if(v.data('unit') == 'W'){
			                    	return value / 1000 + "K";
			                    }
			                	return value;
			                }
			            },
			            axisTick: {            // 坐标轴小标记
			                length: 5,        // 属性length控制线长
			                lineStyle: {       // 属性lineStyle控制线条样式
			                    color: 'auto',
			                    shadowColor: '#fff', //默认透明
			                    shadowBlur: 10
			                }
			            },
			            splitLine: {           // 分隔线
			                length: 10,         // 属性length控制线长
			                lineStyle: {       // 属性lineStyle（详见lineStyle）控制线条样式
			                    width: 3,
			                    color: '#fff',
			                    shadowColor: '#fff', //默认透明
			                    shadowBlur: 10
			                }
			            },
			            pointer: {
			                width: 5,
			                shadowColor: '#fff', //默认透明
			                shadowBlur: 5
			            },
			            title: {
			                offsetCenter: [0, '-30%'],       // x, y，单位px
			                textStyle: {       // 其余属性默认使用全局文本样式，详见TEXTSTYLE
			                    fontWeight: 'bolder',
			                    fontStyle: 'italic',
			                    color: '#fff',
			                    shadowColor: '#fff', //默认透明
			                    shadowBlur: 10
			                }
			            },
			            detail: {
			                
			                borderColor: '#fff',
			                shadowColor: '#fff', //默认透明
			                shadowBlur: 5,
			                width: 80,
			                height: 30,
			                offsetCenter: [25, '25%'],       // x, y，单位px
			                textStyle: {       // 其余属性默认使用全局文本样式，详见TEXTSTYLE
			                    fontWeight: 'bolder',
			                    color: '#fff',
			                    fontSize : 14
			                },formatter: function (value) {
			                    if(v.data('unit') == 'W'){
			                    	return 0 - value;
			                    }
			                	return value;
			                }
			            },
			            data: [{value: v.data('vb'), name: v.data('unit')}]
			        },
			        {
			            name: v.data('c'),
			            type: 'gauge',
			            center: ['80%', '55%'],    // 默认全局居中
			            radius: '40%',
			            min: parseInt(v.data('min')),
			            max: parseInt(v.data('max')),
			            startAngle: 135,
			            endAngle: -45,
			            splitNumber: 5,
			            axisLine: {            // 坐标轴线
			                lineStyle: {       // 属性lineStyle控制线条样式
			                    color: [[0.2, 'lime'], [0.8, '#1e90ff'], [1, '#ff4500']],
			                    width: 2,
			                    shadowColor: '#fff', //默认透明
			                    shadowBlur: 10
			                }
			            },
			            axisTick: {            // 坐标轴小标记
			                length: 5,        // 属性length控制线长
			                lineStyle: {       // 属性lineStyle控制线条样式
			                    color: 'auto',
			                    shadowColor: '#fff', //默认透明
			                    shadowBlur: 10
			                }
			            },
			            axisLabel: {
			                fontWeight: 'bolder',
			                color: '#fff',
			                shadowColor: '#fff', //默认透明
			                shadowBlur: 10,
			                formatter: function (value) {
			                    if(v.data('unit') == 'W'){
			                    	return value / 1000 + "K";
			                    }
			                	return value;
			                }
			            },
			            splitLine: {           // 分隔线
			                length:10,         // 属性length控制线长
			                lineStyle: {       // 属性lineStyle（详见lineStyle）控制线条样式
			                    width:3,
			                    color: '#fff',
			                    shadowColor: '#fff', //默认透明
			                    shadowBlur: 10
			                }
			            },
			            pointer: {
			                width:2,
			                shadowColor: '#fff', //默认透明
			                shadowBlur: 5
			            },
			            title: {
			                show: false
			            },
						detail: {
			                borderColor: '#fff',
			                shadowColor: '#fff', //默认透明
			                shadowBlur: 5,
			                width: 80,
			                height: 30,
			                offsetCenter: [0, '10%'],       // x, y，单位px
			                textStyle: {       // 其余属性默认使用全局文本样式，详见TEXTSTYLE
			                    fontWeight: 'bolder',
			                    color: '#fff',
			                    fontSize : 14
			                },formatter: function (value) {
			                    if(v.data('unit') == 'W'){
			                    	return 0 - value;
			                    }
			                	return value;
			                }
			            },
			            data: [{value: v.data('vc'), name: v.data('unit')}]
			        }
			    ]
			};
		return option;
	}
	//加载仪表盘数据
	function initPanel(){
		$.ajax({
			url: "/receive/info",
		    type: "GET",
		    data:entity,
		    dataType : "json",
		    cache:true, 
	        async:false, 
	　　		contentType: "application/json;charset=utf-8",
		    headers: { "Authorization": authorization ,"dz-usr": authUser.uid},//通过请求头来发送token，放弃了通过cookie的发送方式
		    success:function(data){
		    	var vData = data.data.data;
		    	if(data.code == 2000){
		    		if(typeof(vData.dataJson) != "undefined" && vData != null){
		    			dataJson = JSON.parse(vData.dataJson);
		    			if(eqptType != 2){
		    				/*根据返回参数---> ID 设置value值*/
		    				$.each(dataJson, function(key, val) {
		    		        	$("#" + key).attr('data-value',val);
		    		       });
		    			}
		    		}else if(vData != null ){
		    			$("#line_temp_01").data('value',data.data.data.lineTemp);
			    		$("#leak_cur_01").data('value',data.data.data.leakCur);
			    		$("#kwh_01").data('value',data.data.data.kwh);
			    		$("#cur_01").data('va',data.data.data.curA)
			    		$("#cur_01").data('vb',data.data.data.curB)
			    		$("#cur_01").data('vc',data.data.data.curC)
			    		$("#vol_01").data('va',data.data.data.volA)
			    		$("#vol_01").data('vb',data.data.data.volB)
			    		$("#vol_01").data('vc',data.data.data.volC)
			    		$("#pwr_01").data('va',0 - data.data.data.pwrA)
			    		$("#pwr_01").data('vb',0 - data.data.data.pwrB)
			    		$("#pwr_01").data('vc',0 - data.data.data.pwrC)
			    		
			    		$("#csq_01").data('value',data.data.data.csp)
		    		}
		    	}else{
		    		 layer.msg('查询数据为空', {
		    			  icon: 3,
		    			  offset:'rt',
		    			  anim: 2,
		    			  time: 3000 //2秒关闭（如果不配置，默认是3秒）
		    			}, function(){
		    			  //do something
		    			}); 
		    	}
		    	if(eqptType != 2){
		    		$("._single").show();
		    		$("._triple").hide();
		    		$.each($("._single").children().children(".grid-demo"),function(){
		    			/*根据ID 设置不同仪表盘参数*/
		    			_chart($(this).attr('id')).setOption(_singleOption($(this)));
		    		})
		    	}else{
		    		$("._single").hide();
		    		$("._triple").show();
		    		$.each($("._triple").children().children(".grid-demo"),function(){
		    			if($(this).data('unit') == 'A'|| $(this).data('unit') == 'V' || $(this).data('unit') == 'W'){
		    				_chart($(this).attr('id')).setOption(_tripleOption($(this)));
		    			}else{
		    				_chart($(this).attr('id')).setOption(_singleOption($(this)));
		    			}
		    		})
		    	}
		    	
		    }
		});
	}
	/*点击刷新按钮--->上报*/
	$(".layui-icon-refresh").on('click',function(){
		oneNet(onenetVariable($("._imei").text(),$("._eqptType").attr('data-type')));
	})
	//监听浏览器大小变化重新渲染
	window.onresize = function () {
		/*动态渲染*/
		$.each($(".grid-demo"),function(){
			_chart($(this).attr('id')).resize();
		})
    	
    }
</script>

</body>
</html>