<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head th:include="include :: header"></head>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script th:src="@{/js/echarts.min.js}"></script>
    <style type="text/css">
    	._chart{
    		height: 500px;
    	}
    	
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
    <form class="layui-form" action="">
         <div class="layui-form-item">
         	 <div class="layui-inline">
		      <label class="layui-form-label">设备序列号</label>
		      <div class="layui-input-inline">
		        <div class="layui-form-mid layui-word-aux _imei"></div>
		      </div>
		    </div>
            
            <div class="layui-inline">
		      <label class="layui-form-label">设备地址</label>
		      <div class="layui-input-inline">
		         <div class="layui-form-mid layui-word-aux _address"></div>
		      </div>
		    </div>
            
            <div class="layui-inline">
		      <label class="layui-form-label">设备状态</label>
		      <div class="layui-input-inline">
		        <div class="layui-form-mid layui-word-aux _eqptStatus"></div>
		      </div>
		    </div>
         </div>
         <div class="layui-form-item" >
            <div class="layui-inline" >
		      <label class="layui-form-label">统计时间段</label>
		      <div class="layui-input-block">
		        <input type="text" class="layui-input" id="times">
		      </div>
		    </div>
            <div class="layui-inline">
		      <label class="layui-form-label">统计单位</label>
		      <div class="layui-input-inline">
		        <select name="type" id="type" lay-search="" lay-filter="type">
		        	<option value="min">分钟</option>
		        	<option value="hour" selected="selected">小时</option>
		        	<option value="day">天</option>
		        </select>
		      </div>
		    </div>
         </div>
         </form>
		<div class="layui-row" >
		   <div class="_chart" id="main_01">
		   	
		   </div>
		</div>
    </div>
   </div>
<div th:include="include::footer"></div>
<script th:inline="none">
layui.use(['layer', 'echarts','laydate','form'], function () {
    var $ = layui.jquery,
        layer = layui.layer,
        echarts = layui.echarts,
    	laydate = layui.laydate,
    	form = layui.form;
    var endTime;
    var d = laydate.render({
        elem: '#times'
        ,type: 'datetime'
        ,range: true
        ,max : 'today'
        ,btns: ['confirm']
        ,value: fun_day(-1) + " - " +new Date().Format("yyyy-MM-dd hh:mm:ss")//"2020-09-02 17:47:48 - 2020-09-09 17:47:48"
        ,ready: function(date){
            $(".laydate-footer-btns").after('<span lay-type="_week" class="_week">最近七天</span>');
            $(".laydate-footer-btns").after('<span lay-type="_one_month" class="_one_month">最近一个月</span>');
            $(".laydate-footer-btns").after('<span lay-type="_three_month" class="_three_month">最近三个月</span>');
            var  _thisid=this.elem;
            $("._week").on('click',function(){
            	var date = new Date();
            	var t = fun_day(-7) + " - " +  date.Format("yyyy-MM-dd hh:mm:ss");
            	_thisid.val(t);
            	$("#times").focus();
            	$(".laydate-btns-confirm").trigger('click');
            })
            $("._one_month").on('click',function(){
            	var date = new Date();
            	console.log(date.Format("yyyy-MM-dd hh:mm:ss"));
            	var t = fun_month(-1) + " - " +  date.Format("yyyy-MM-dd hh:mm:ss");
            	_thisid.val(t);
            	$("#times").focus();
            	$(".laydate-btns-confirm").trigger('click');
            })
            $("._three_month").on('click',function(){
            	var date = new Date();
            	console.log(date.Format("yyyy-MM-dd hh:mm:ss"));
            	var t = fun_month(-3) + " - " +  date.Format("yyyy-MM-dd hh:mm:ss");
            	_thisid.val(t);
            	$("#times").focus();
            	$(".laydate-btns-confirm").trigger('click');
				
            })
        },done: function(value, date, endDate){
        	if(value.length != 0){
        		var arr = value.split(" - ");
                var e = {};
                e.startTime = $.trim(arr[0]);
                e.endTime = $.trim(arr[1]);
                endTime = $.trim(arr[1]);
                e.imei = $("._imei").html();
                e.type = $("select[name='type']").val();
                zxt(e);
        	}
          }
      });
    init();
    form.on('select(type)', function(data) {
		var arr = $("#times").val().split(" - ");
        var e = {};
        e.startTime = $.trim(arr[0]);
        e.endTime = $.trim(arr[1]);
        endTime = $.trim(arr[1]);
        e.imei = $("._imei").html();
        e.type = data.value;
        zxt(e);
	});
    function init(){
    	 var entity = {};
    	 entity.imei = $.getUrlParam('imei');
    	 $.ajax({
    			url: "/equipment/info",
    		    type: "GET",
    		    data:entity,
    		    dataType : "json",
    		    cache:true, 
    	        async:false, 
    	　　		contentType: "application/json;charset=utf-8",
    		    headers: { "Authorization": authorization ,"dz-usr": authUser.uid},//通过请求头来发送token，放弃了通过cookie的发送方式
    		    success:function(data){
    		    	console.log(data.data[0]);
    		    	$("._imei").html(data.data[0].imei);
    		    	$("._address").html(data.data[0].province + data.data[0].city +  data.data[0].district + data.data[0].address);
    		    	$("._eqptStatus").html(data.data[0].eqptStatus == 9001 ? '掉线' : '在线');
    		    }
    		});
    } 
    /**
     * 报表功能
     */
    var echartsRecords = echarts.init(document.getElementById('main_01'), 'walden');
    function zxt(e){
    	$.ajax({
    		url: "/receive/pwr/info",
    	    type: "GET",
    	    data:e,
    	    dataType : "json",
    	    cache:true, 
            async:false, 
    　　		contentType: "application/json;charset=utf-8",
    	    headers: { "Authorization": authorization ,"dz-usr": authUser.uid},//通过请求头来发送token，放弃了通过cookie的发送方式
    	    success:function(data){
    	    	var timeArray = new Array();
    	        var pwrArray = new Array();
    	    	if(data.code == 2000){
    	    		$.each(data.data.data,function(index,xx){
        	    		timeArray.push(xx.addTime);
        	    		pwrArray.push(xx.pwr);
        	    	})
    	    	}
    	    	var v = {};
    	    	var dataZoom = {};
    	    	var title = {};
    	    	if(pwrArray.length > 10000 ){
    	    		dataZoom.show = true;
    	    		dataZoom.start = (1 - (1000 / pwrArray.length)) * 100;
    	    		dataZoom.end = 100;
    	    		v.dataZoom = dataZoom;
    	    	}else if(pwrArray.length > 1000 ){
    	    		dataZoom.show = true;
    	    		dataZoom.start = (1 - (100 / pwrArray.length)) * 100;
    	    		dataZoom.end = 100;
    	    		v.dataZoom = dataZoom;
    	    	}else if(pwrArray.length > 100){
    	    		dataZoom.show = true;
    	    		dataZoom.start = 10;
    	    		dataZoom.end = 100;
    	    		v.dataZoom = dataZoom;
    	    	}else{
    	    		dataZoom.show = false;
    	    		v.dataZoom = dataZoom;
    	    	}
    	    	if(pwrArray.length == 0){
    	    		title.text = '暂无数据';
    	    		title.left = "center";
    	    		title.top = "center";
    	    	}
    	    	v.title = title;
    	    	options(v,timeArray,pwrArray);
    	    }
    	});
    }
    initLoad();
    function initLoad(){
    	var arr = $("#times").val().split(" - ");
        var e = {};
        e.startTime = $.trim(arr[0]);
        e.endTime = $.trim(arr[1]);
        endTime = $.trim(arr[1]);
        e.imei = $("._imei").html();
        e.type = $("select[name='type']").val();
        zxt(e);
    }
     function options(v,timeArray,pwrArray){
    	 console.log(timeArray);
    	var optionRecords = {
        	    title: [
        	    	{
            	        text: '功率折线图'
            	    },
            	    v.title
        	    ],
        	    show: Object.keys(pwrArray).length === 0,
        	    extStyle: {
        	    color: "grey",
        	      fontSize: 20
        	     },
        	     tooltip: {
        	          trigger: 'axis',
        	          axisPointer: {
        	            lineStyle: {
        	              color: '#57617B'
        	            }
        	          }
        	        },
        	        legend: {
        	            top: 20,
        	            icon: 'rect',
        	            itemWidth: 14,
        	            itemHeight: 5,
        	            itemGap: 13,
        	            data: ['设备功率'],
        	            right: '4%',
        	            textStyle: {
        	              fontSize: 12,
        	              color: '#F1F1F3'
        	            }
        	          },
        	          grid: {
        	            top: 100,
        	            left: '2%',
        	            right: '2%',
        	            bottom: '2%',
        	            containLabel: true
        	          },
        	    dataZoom: [v.dataZoom],
        	    toolbox: {
        	        feature: {
        	            saveAsImage: {}
        	        }
        	    },
        	    xAxis: {
        	    	type: 'category',
        	          boundaryGap: false,
        	          axisLine: {
        	            lineStyle: {
        	              color: '#F1F1F3'
        	            }
        	          },
        	        splitNumber:10,
        	        data: timeArray,
        	        //splitLine:{show: false},//去除网格线
		            //splitArea : {show : true},//保留网格区域
        	    },
        	    yAxis: {
        	        type: 'value'
        	    },
        	    series: [
        	        {
        	            name: '功率',
        	            type: 'line',
        	            stack: '总量',
        	            symbol:'none',  //这句就是去掉点的  
        	            markPoint: {
        	                data: [
        	                  {
        	                    name: '最大值',
        	                    type: 'max',
        	                    label: {
        	                      // show: false
        	                      position: 'top'
        	                    }
        	                  },
        	                  {
        	                    name: '最小值',
        	                    type: 'min',
        	                    label: {
        	                      // show: false
        	                      position: 'bottom'
        	                    }
        	                  }

        	                ]
        	              },
        	            areaStyle: {
        	        		normal: {
        	        			color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{ 
        	        				//折线图颜色渐变                                    
        	        				offset: 0,                                    
        	        				color: 'rgba(62,139,222,0.6)'                                
        	        				}, {
        	        					offset: 1,
        	        					color: 'rgba(62,139,222,0.01)'
        	        					}])                            
        	        	}                        
        	        	} ,
        	        	sampling:'average',
        	        	showSymbol: false,
        	            hoverAnimation: false,
        	            data: pwrArray
        	        }
        	    ]
        	};
        echartsRecords.setOption(optionRecords,true);
    }
    // echarts 窗口缩放自适应
    window.onresize = function () {
    	echartsRecords.resize();
    }

});
</script>

</body>
</html>