<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head th:include="include :: header"></head>
<head>
    <meta charset="utf-8">
    <title>菜单列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <style>
    .layui-btn:not(.layui-btn-lg ):not(.layui-btn-sm):not(.layui-btn-xs) {height:34px;line-height:34px;padding:0 8px;}
</style>
</head>
<body>
<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main">
        <div>
            <div class="layui-btn-group">
                <button class="layui-btn" id="btn-expand">全部展开</button>
                <button class="layui-btn layui-btn-normal" id="btn-fold">全部折叠</button>
                <button class="layui-btn layui-btn-add" id="btn-add">添加</button>
            </div>
            <table id="munu-table" class="layui-table" lay-filter="munu-table"></table>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<!-- 操作列 -->
<script type="text/html" id="auth-state">
		<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    	<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script th:inline="none">
	var dataRow;
	var table,treetable;
	var returnedItem = [];
    var ids = [];
    var arr;
    var objArr = [];
    var roleIdArr = [];
    var treeOpenOrClose = false;
    layui.use(['table', 'treetable'], function () {
        var $ = layui.jquery;
        table = layui.table;
        treetable = layui.treetable;
        // 渲染表格
        layer.load(2);
        //加载数据
        initTreeTable();
        $('#btn-expand').click(function () {
        	treeOpenOrClose = true;
            treetable.expandAll('#munu-table');
        });
        $('#btn-fold').click(function () {
        	treeOpenOrClose = false;
            treetable.foldAll('#munu-table');
        });
        //监听工具条
        table.on('tool(munu-table)', function (obj) {
            dataRow = obj.data;
            var layEvent = obj.event;
            if (layEvent === 'del') {
            	returnedItem = [];
                ids = [];
            	ids = returnIds(returnNodes(arr,dataRow.id));
                if(ids.length > 1 ){
                	//判断角色是否一致
                	var f = isPower(getRoleIdArr(objArr,ids),authUser.roleId);
                	if(f){
                		var index = layer.confirm('该节点存在子节点，是否继续删除', {
        					btn : [ '放弃', '删除' ],icon: 3, title:'提示'
        				}, function() {
        					layer.msg('已放弃', {
        						icon : 1
        					});
        					layer.close(index);
        				}, function() {
        					DELETE("/menu/"+ids.join('_'),true);
        				});
                	}else{
                		layer.msg('存在角色不一致的菜单', {
    						icon : 2
    					});
                	}
                }else{
                	if(authUser.roleId == dataRow.roleId){
                		DELETE("/menu/"+ids.join('_'),true);
                	}else{
                		layer.msg('存在角色不一致的菜单', {
    						icon : 2
    					});
                	}
                }
            } else if (layEvent === 'edit') {
            	if(authUser.roleId == dataRow.roleId){
            		openPopUp('修改','/admin/menu/edit');
            	}else{
            		layer.msg('存在角色不一致的菜单', {
						icon : 2
					});
            	}
            	
            }
        });
    });
    
    /* function deleteBatch(ids){
    	$.ajax({
 			url: "/menu/"+ids,
		    type: "DELETE",
		    dataType : "json",
	　　		contentType: "application/json;charset=utf-8",
		    headers: { "Authorization": authorization },//通过请求头来发送token，放弃了通过cookie的发送方式
		    success:function(data){
		    	 	if(data.success){
		    	 		indexHome(window).init();
		    	 		initTreeTable();
		    	 		layer.msg(data.msg,{icon: 6, time: 2000});
					}else{
						layer.msg(data.msg,{icon: 5, time: 2000});
					}
		    }
		}); 
    } */
    
    //根据id得到对应的树结构数据
    function returnNodes(arr, id){
   	  //利用foreach循环遍历
   	  arr.forEach((item) => {
   	    //判断递归结束条件
   	    if(item.id == id)
   	    {       
   	      // 存储数据到空数组
   	      returnedItem.push(item);
   	    }
   	      else if(item.children != null) //判断chlidren是否有数据
   	    {
   	      //递归调用
   	      returnNodes(item.children, id);                 
   	    }                   
   	  })
   	  return returnedItem;
   	}
    
    function returnIds(arr){
    	//利用foreach循环遍历
  	  arr.forEach((item) => {
  	    ids.push(item.id);
  	    if(item.children != null) //判断chlidren是否有数据
  	    {
  	      //递归调用
  	      returnIds(item.children);                 
  	    }                   
  	  })
  	  return ids;
    }
    //得到需要的树 数据
    function treeArrayF(){
    	var treeArray = new Array();
    	$.each( $(".treeTable-icon"),function(){
      	   var tree = {};
      	   console.log($(this).attr("lay-tpid"));
      	   tree.parentId = $(this).attr("lay-tpid");
      	   tree.id = $(this).attr("lay-tid");
      	   treeArray.push(tree);
         })
         arr = convert(treeArray);
    }
    //公用方法调用 
    function flush(){
    	initTreeTable();
    }
    //加载数据
    function initTreeTable(){
    	treetable.render({
            treeColIndex: 1,
            treeSpid: 0,
            treeIdName: 'id',
            treePidName: 'parentId',
            elem: '#munu-table',
            url: '/menu/authMenuLists?roleId=' + authUser.roleId,
            authorization:authorization,
            page: false,
            cols: [[
                {type: 'numbers'},
                {field: 'name', minWidth: 200, title: '菜单名称'},
                {field: 'url', title: '菜单url'},
                {field: 'orderNum', width: 80, align: 'center', title: '排序号'},
                {field: 'icon', width: 200, align: 'center', title: '图标'},
                {field: 'createBy', width: 200, align: 'center', title: '创建者'},
                {templet: '#auth-state', width: 120, align: 'center', title: '操作'}
            ]],
            done: function (res, curr, count) {
            	objArr = res.data;
            	treeArrayF();
            	if(treeOpenOrClose){
        			treetable.expandAll('#munu-table');
        		}else{
        			treetable.foldAll('#munu-table');
        		}
                layer.closeAll('loading');
            }
        });
    }
    function getRoleIdArr(objArr,ids){
    	roleIdArr = [];
    	$.each(ids,function(index,val){
    		$.each(objArr,function(i,v){
    			if(val == v.id){
    				roleIdArr.push(v.roleId);
    			}
    		})
    	})
    	return roleIdArr;
    }
    
    var isPower = function(roleIdArr,roleId){
    	var is = true;
    	$.each(roleIdArr,function(index,val){
    		if(val != roleId){
    			is = false;
    		}
    	})
    	return is;
    }
    
    $("#btn-add").on('click',function(){
    	openPopUp('添加','/admin/menu/add');
    })
</script>
</body>
</html>