<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head th:include="include :: header"></head>
<head>
<meta charset="UTF-8">
<title>树列表</title>

</head>
<body>
	<div id="menuTree" class="demo-tree"></div>
</body>
<div th:include="include::footer"></div>
<script type="text/javascript">
var dataRow = window.parent.dataRow;
	layui.use(['tree', 'util'], function(){
		  var tree = layui.tree
		  ,layer = layui.layer
		  ,util = layui.util;
		 var menuTree = JSON.parse(localStorage.getItem('menuTree'));
		  //仅节点左侧图标控制收缩
		  tree.render({
		    elem: '#menuTree'
		    ,data: menuTree
		    ,onlyIconControl: true  //是否仅允许节点左侧图标控制展开收缩
		    ,click: function(obj){
		        console.log( obj.data);
		        if(dataRow.id != obj.data.id){
		        	parent.layui.$('#parentId').val(obj.data.name);
			        parent.layui.$('#parentId').attr("data-id",obj.data.id);
			        var iframeIndex = parent.layer.getFrameIndex(window.name);
	  	 			parent.layer.close(iframeIndex);
		        }else{
		        	layer.msg('该节点为当前节点', {
						icon : 2
					});
		        }
		        
		    }
		  });
	})
</script>
</html>