<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head th:include="include :: header"></head>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
    	<fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                    	<div class="layui-inline">
                            <div class="layui-input-inline">
                                <input type="text" name="imei" autocomplete="off" class="layui-input" placeholder="imei">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <select name="mtStatus" lay-verify="" placeholder="资源类别">
								  <option value="">请选择类别</option>
								  <option value="0">待维修</option>
								  <option value="1">已维修</option>
								  <option value="2">已撤销</option>
								</select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <select name="mtType" lay-verify="" placeholder="设备类型">
								  <option value="">请选择请求类型</option>
								  <option value="0,1">单三用电设备</option>
								  <option value="2">烟雾告警器</option>
								</select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>
    	<!-- <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="excel" title="Excel导出"> 导出 </button> -->
        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
				<div class="layui-inline" lay-event="lead_excel_out"><i class="iconfont"  data-toggle="tooltip" title="导出" >&#xe6f3;</i></div>
				<div class="layui-inline" lay-event="lead_excel_in"><i class="iconfont"   data-toggle="tooltip" title="导入" id="file_Upload" >&#xe6f4;</i></div>
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
			
			{{# if(d.mtStatus == 0 ){ }}
					<a class="layui-icon layui-icon-edit" style="font-size: 24px; color: #1E9FFF;cursor: pointer;" lay-event="edit" title="修改"></a>
            		<a class="fa fa-share" style="font-size: 22px; color: #1E9FFF;cursor: pointer;" lay-event="backout" title="撤销"></a>
			{{# } else if(d.mtStatus == 1 ){}}
            		<a class="fa fa-share" style="font-size: 22px; color: #1E9FFF;cursor: pointer;" lay-event="backout" title="撤销"></a>
			{{# } else if(d.mtStatus == 2 ){}}
			{{# } }}
				
            
        </script>

    </div>
</div>
<div th:include="include::footer"></div>
<script th:inline="none">
var dataRow,table;
var currentPage = 1;
var jsonEntity = {};
layui.use(['form', 'table','upload'], function () {
    var $ = layui.jquery,
    	upload = layui.upload,
        form = layui.form;
        table = layui.table;
        
    jsonEntity.roleId = authUser.roleId;
    jsonEntity.mtStatus = 0;
    loadTickets(jsonEntity); 
    // 监听搜索操作
    form.on('submit(data-search-btn)', function (data) {
        var result = JSON.stringify(data.field);
        var jsonEntity = {};
        $.each(data.field, function(key, val) {
        	if(data.field[key] != null && data.field[key].length > 0){
        		jsonEntity[key] = val;
        	}
       });
        loadTickets(jsonEntity);
        return false;
    });
    /**
     * toolbar监听事件
     */
    table.on('toolbar(currentTableFilter)', function (obj) {
        if (obj.event === 'lead_excel_out') {  // 监听添加操作
        	$.ajax({
     			url: "/maintain/export",
     			type : "POST",
    	　　		dataType : "json",
    	　　		contentType: "application/json;charset=utf-8",
			    headers: { "Authorization": authorization },//通过请求头来发送token，放弃了通过cookie的发送方式
			    success:function(data){
			    	if(data.success){
			    		window.location.href = "/maintain/common/download?fileName=" + data.data.filename + "&delete=" + true;
			    	}
			    }
			});
        }else if(obj.event === "lead_excel_in"){
        	
        }
    });
    table.on('tool(currentTableFilter)', function (obj) {
        dataRow = obj.data;
        if (obj.event === 'edit') {
            openPopUp('维修单修改','MAINTAIN_UPDATE_PAGE');///admin/maintain/edit
            return false;
        } else if (obj.event === 'backout') {
        	var v = {};
        	v.alarmId = dataRow.alarmId;
        	v.mtId = dataRow.mtId;
        	v.mtStatus = 2;
        	v.mtType = dataRow.mtType;
            	$.ajax({
         			url: "/maintain/info",
         			type : "PUT",
        	　　		dataType : "json",
        	　　		data:JSON.stringify(v),
        	　　		contentType: "application/json;charset=utf-8",
    			    headers: { "Authorization": authorization },//通过请求头来发送token，放弃了通过cookie的发送方式
    			    success:function(data){
    			    	 	if(data.success){
    			    	 		layer.msg("撤销成功");
    			    	 		obj.del();
    						}else{
    							layer.msg(data.msg);
    						}
    			    }
    			});
            	
        }
    });
    upload.render({ //允许上传的文件后缀
        elem: '#file_Upload'
        ,url: '/maintain/importData' //改成您自己的上传接口
        ,headers: { "Authorization": authorization }
        ,accept: 'file' //普通文件
        ,exts: 'xlsx' //只允许上传压缩文件
        ,done: function(res){
          layer.msg('上传成功');
          console.log(res)
        }
      });
});

function loadTickets(jsonEntity){
	table.render({
        elem: '#currentTableId',
        url: getRootPath() + '/maintain/info',
        headers: { "Authorization": authorization },//通过请求头来发送token，放弃了通过cookie的发送方式
        where : jsonEntity,
        async : false,
        toolbar: '#toolbarDemo',
        defaultToolbar: ['filter', 'exports', 'print', {
            title: '提示',
            layEvent: 'LAYTABLE_TIPS',
            icon: 'layui-icon-tips'
        }],
        cols: [[
            {field: 'eqptName',title: '设备名称'},
            {field: 'imei',title: 'IMEI'},
            {field: 'address',title: '设备地址' ,width:'25%',
            	templet : function(row) {
				
				return row.province + row.city + row.district + row.address;
			}},
            {field: 'alarmMsg',  title: '告警类型', 
            	templet : function(row) {
   	        	 if(typeof(row.alarmMsg) == 'undefined'){
   	        		 return '';
   	        	 }else{
   	        		 var alarmInfo = JSON.parse(row.alarmMsg);
   	        		 if(alarmInfo.length == 0){
   	        			 return '';
   	        		 }
   	    			 return _alarmIcons(row.alarmType.split(","),alarmInfo);
   	        	 }
   			   }	
            },
            {field: 'mtStatus',  title: '维修状态',
				templet : function(row) {
					if(row.mtStatus == 0){
						return "未维修";
					}else if(row.mtStatus == 1){
						return "已维修";
					}else if(row.mtStatus == 2){
						return "已撤销";
					}
					
			}},
			{field: 'mtName',title: '维修人员名称'},
			{field: 'updateTime',title: '告警时间',width:"15%"},
            {title: '操作', toolbar: '#currentTableBar', align: "center",width:'10%'}
        ]],
        limits: [5, 10, 20, 25, 50, 100],
        limit: 10,
        page: true,
        skin: 'line',
        done : function(res, curr, count) {
			currentPage = curr;
		}
    });
}
//刷新
function flush(currentPage, jsonEntity) {
	table.reload('currentTableId', {
		page : {
			curr : currentPage
		},
		where : jsonEntity
	});
}
</script>

</body>
</html>