.layuimini-content-page {
	background-color: #f2f2f2 !important;
}

.layuimini-container {
	border: 1px solid #f2f2f2;
	border-radius: 5px;
	background-color: #f2f2f2
}

.layuimini-main {
	margin: 10px 10px 10px 10px;
	border: 5px solid #ffffff;
	border-radius: 5px;
	background-color: #ffffff
}

.layui-breadcrumb>* {
	font-size: 13px;
	!
	important;
}

/**必填红点 */
.layuimini-form>.layui-form-item>.required:after {
	content: '*';
	color: red;
	position: absolute;
	margin-left: 4px;
	font-weight: bold;
	line-height: 1.8em;
	top: 6px;
	right: 5px;
}

.layuimini-form>.layui-form-item>.layui-form-label {
	width: 120px !important;
}

.layuimini-form>.layui-form-item>.layui-input-block {
	margin-left: 150px !important;
}

.layuimini-form>.layui-form-item>.layui-input-block>tip {
	display: inline-block;
	margin-top: 10px;
	line-height: 10px;
	font-size: 10px;
	color: #a29c9c;
}

/**搜索框*/
.layuimini-container .table-search-fieldset {
	margin: 0;
	border: 1px solid #e6e6e6;
	padding: 10px 20px 5px 20px;
	color: #6b6b6b;
}
._submitBtn{
	position: absolute;
	bottom: 5%;
	right: 5%;
}
._custom_form{
	padding-top: 10px;
	width: 90%;
}
._chronometerBtn{
	position: absolute;
	bottom: 1.5%;
	right: 1.5%;
}
/*垂直居中*/
._center_vertically{
	display: flex; 
	display: -webkit-flex;
	align-items:center;
	justify-content:center;
	z-index:100;
}
.layui-icon-refresh{
	cursor: pointer;
}
._gauge_param{
	position:relative;
	top: -50px;
}
