<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kiwihouse.dao.mapper.AuthRoleMenuMapper">
  <resultMap id="BaseResultMap" type="com.kiwihouse.dao.entity.AuthRoleMenu">
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="menu_id" jdbcType="INTEGER" property="menuId" />
  </resultMap>
  
  <resultMap type="com.kiwihouse.domain.vo.AuthRoleMenuDetails" id="AuthRoleMenuDetailsMap"></resultMap>
  <insert id="insert" parameterType="com.kiwihouse.dao.entity.AuthRoleMenu">
    insert into auth_role_menu (role_id, menu_id)
    values (#{roleId,jdbcType=INTEGER}, #{menuId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.kiwihouse.dao.entity.AuthRoleMenu">
    insert into auth_role_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
      <if test="menuId != null">
        menu_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="menuId != null">
        #{menuId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <select id="selectRoleMenuCount" parameterType="java.lang.Integer" resultType="Integer" >
  		<choose>
  			<when test="trigger ==1 ">
  				<!-- SELECT count(*) FROM `auth_role_menu` arm 
  				LEFT JOIN sys_menu sys on arm.menu_id = sys.id 
  				INNER JOIN auth_role ar on ar.id = arm.role_id WHERE 1=1 
  				AND role_id != #{roleId} -->
  				SELECT count(*) FROM sys_menu sys LEFT JOIN auth_role_menu arm on sys.id = arm.menu_id 
				INNER JOIN auth_role ar on  ar.id = arm.role_id
				WHERE sys.ID not in (SELECT menu_id FROM auth_role_menu WHERE role_id = #{roleId}) AND is_basic = 0
  			</when>
  			<when test="trigger ==2 ">
				SELECT count(*) FROM sys_menu  
  			</when>
  			<when test="trigger ==3 ">
  				SELECT count(*) FROM `auth_role_menu` arm 
		    	LEFT JOIN sys_menu sys on arm.menu_id = sys.id 
		    	INNER JOIN auth_role ar on  ar.id = arm.role_id
		    	WHERE 1=1
	    		<if test="roleId != null and roleId !=''">
	    			AND arm.ROLE_ID = #{roleId}
	    		</if>
		    	<if test="authRoleMenuDetails.code!=null and authRoleMenuDetails.code !=''">
		    		AND ar.code = #{authRoleMenuDetails.code}
		   		</if>
		   		<if test="authRoleMenuDetails.name!=null and authRoleMenuDetails.name !=''">
		   			AND sys.name like  CONCAT('%', #{authRoleMenuDetails.name}, '%') 
		   		</if>
  			</when>
  			 <otherwise>
  			 	SELECT count(*) FROM `auth_role_menu` arm 
		    	LEFT JOIN sys_menu sys on arm.menu_id = sys.id 
		    	INNER JOIN auth_role ar on  ar.id = arm.role_id
		    	WHERE 1=1
	    		<if test="roleId != null and roleId !=''">
	    			AND arm.ROLE_ID > #{roleId}
	    		</if>
	    		<if test="authRoleMenuDetails.code!=null and authRoleMenuDetails.code !=''">
	    			AND ar.code = #{authRoleMenuDetails.code}
		   		</if>
		   		<if test="authRoleMenuDetails.name!=null and authRoleMenuDetails.name !=''">
	   				AND sys.name like  CONCAT('%', #{authRoleMenuDetails.name}, '%') 
	   			</if>
             </otherwise>
  		</choose>
    </select>
    
    
    <select id="selectRoleMenuList" parameterType="java.lang.Integer" resultMap="AuthRoleMenuDetailsMap">
    	<choose>
  			<when test="trigger ==1 ">
				SELECT sys.id ,sys.parent_id,sys.name ,sys.url FROM sys_menu sys 
				WHERE sys.ID not in (SELECT menu_id FROM auth_role_menu WHERE role_id = #{roleId})   AND is_basic = 0
  			</when>
  			<when test="trigger ==2 ">
				SELECT id ,parent_id,name ,url FROM sys_menu  
  			</when>
  			<when test="trigger ==3 ">
  				SELECT arm.role_id ,sys.id,sys.parent_id,sys.name ,sys.url,ar.`CODE` FROM `auth_role_menu` arm 
		    	LEFT JOIN sys_menu sys on arm.menu_id = sys.id 
		    	INNER JOIN auth_role ar on  ar.id = arm.role_id
		    	WHERE 1=1
	    		<if test="roleId != null and roleId !=''">
	    			AND arm.ROLE_ID = #{roleId}
	    		</if>
		    	<if test="authRoleMenuDetails.code!=null and authRoleMenuDetails.code !=''">
		    		AND ar.code = #{authRoleMenuDetails.code}
		   		</if>
		   		<if test="authRoleMenuDetails.name!=null and authRoleMenuDetails.name !=''">
		   			AND sys.name like  CONCAT('%', #{authRoleMenuDetails.name}, '%') 
		   		</if>
  			</when>
  			 <otherwise>
  			 	SELECT arm.role_id ,sys.id,sys.parent_id,sys.name ,sys.url,ar.`CODE` FROM `auth_role_menu` arm 
		    	LEFT JOIN sys_menu sys on arm.menu_id = sys.id 
		    	INNER JOIN auth_role ar on  ar.id = arm.role_id
		    	WHERE 1=1
	    		<if test="roleId != null and roleId !=''">
	    			AND arm.ROLE_ID > #{roleId}
	    		</if>
	    		
		    	<if test="authRoleMenuDetails.code!=null and authRoleMenuDetails.code !=''">
		    		AND ar.code = #{authRoleMenuDetails.code}
		   		</if>
		   		<if test="authRoleMenuDetails.name!=null and authRoleMenuDetails.name !=''">
		   			AND sys.name like  CONCAT('%', #{authRoleMenuDetails.name}, '%') 
		   		</if>
             </otherwise>
  		</choose>
   		<if test="pageSize != null">
			LIMIT #{currentPage},#{pageSize}
		</if>
    </select>
    
    <insert id="insertBatch" parameterType="java.util.List">
		insert into auth_role_menu(role_id,menu_id)
		values
		<foreach item="menu" collection="list" index="index"  separator="," >
			(#{menu.roleId},
			#{menu.menuId})
		</foreach>
	</insert>
	
	<update id="update" parameterType="com.kiwihouse.dao.entity.AuthRoleMenu">
		update auth_role_menu
		    set role_id = #{roleId,jdbcType=INTEGER}
		    where menu_id = #{menuId,jdbcType=INTEGER}
	</update>
	
	<delete id="deleteBatch">
		delete from auth_role_menu where
		<foreach collection="list" item="item" separator=" or " index="index">
            (role_id = #{item.roleId} and menu_id = #{item.menuId})
        </foreach>
	</delete>
	
	<delete id="deleteByRole">
		delete from auth_role_menu where role_id = #{roleId}
	</delete>
	
	<delete id="deleteBatchByMenuId"> 
        delete from auth_role_menu where menu_id in
		<foreach item="menuId" collection="ids" open="(" separator=","
			close=")">
			#{menuId}
		</foreach>
	</delete>
</mapper>