<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kiwihouse.dao.mapper.DevInfoMapper">
  <resultMap id="BaseResultMap" type="com.kiwihouse.dao.entity.DevInfo">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="DATA_JSON" jdbcType="VARCHAR" property="dataJson" />
    <result column="IMEI" jdbcType="VARCHAR" property="imei" />
    <result column="ADD_TIME" jdbcType="TIMESTAMP" property="addTime" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, DATA_JSON, IMEI, ADD_TIME,TYPE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dev_info
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dev_info
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="com.kiwihouse.dao.entity.DevInfo" useGeneratedKeys="true">
    insert into dev_info (DATA_JSON, IMEI, ADD_TIME
      )
    values (#{dataJson,jdbcType=VARCHAR}, #{imei,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="com.kiwihouse.dao.entity.DevInfo" useGeneratedKeys="true">
    insert into dev_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dataJson != null">
        DATA_JSON,
      </if>
      <if test="imei != null">
        IMEI,
      </if>
      <if test="addTime != null">
        ADD_TIME,
      </if>
      <if test="type != null">
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dataJson != null">
        #{dataJson,jdbcType=VARCHAR},
      </if>
      <if test="imei != null">
        #{imei,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kiwihouse.dao.entity.DevInfo">
    update dev_info
    <set>
      <if test="dataJson != null">
        DATA_JSON = #{dataJson,jdbcType=VARCHAR},
      </if>
      <if test="imei != null">
        IMEI = #{imei,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        ADD_TIME = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kiwihouse.dao.entity.DevInfo">
    update dev_info
    set DATA_JSON = #{dataJson,jdbcType=VARCHAR},
      IMEI = #{imei,jdbcType=VARCHAR},
      ADD_TIME = #{addTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  
  <insert id="insertOrUpdateBatch"
            parameterType="com.kiwihouse.dao.entity.DevInfo" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO dev_info
        (DATA_JSON,
         IMEI,
         ADD_TIME,
         TYPE)
         VALUES
        <foreach item="t" collection="list" index="index"  separator="," >
			(
			#{t.dataJson},
			#{t.imei},
			NOW(),
			#{type}
			)
		</foreach>
         
		ON DUPLICATE KEY UPDATE 
		DATA_JSON = VALUES(DATA_JSON),
		ADD_TIME = VALUES(ADD_TIME),
		TYPE = VALUES(TYPE)
    </insert>
    
    <select id="selectDevByNewTime" resultType="com.kiwihouse.dao.entity.DevInfo"
            parameterType="java.lang.String">
			SELECT DATA_JSON,ADD_TIME,TYPE FROM dev_info 
			<where>
				<if test="imei != null and imei != '' ">
					AND imei = #{imei}
				</if>
				<if test="type != null and type != '' ">
					AND type = #{type}
				</if>
			</where>
	</select>
</mapper>