<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kiwihouse.dao.mapper.GroupMapper">

    <!--query-->
    <select id="queryInfo" resultType="com.kiwihouse.dto.GroupDto" parameterType="com.kiwihouse.vo.kiwihouse.GroupQueryVo">
        select g.group_id, g.group_name, g.cron, g.role_id, g.add_time,a.`CODE`
        from `group` as g
        left join auth_role as a on g.role_id=a.ID
        <where>
            <if test="roleId != null and roleId != ''">
                and g.role_id in (select distinct role_id from parent_admin where parent_id = #{roleId} or role_id = #{roleId})
            </if>
            <if test="groupName !=null and groupName!=''">
                and g.group_name like CONCAT('%',#{groupName},'%')
            </if>
            <if test="cron != null and cron != '' and cron=='ycron'">
                and g.cron!='ncron'
            </if>
            <if test="cron != null and cron != '' and cron=='ncron'">
                and g.cron='ncron'
            </if>
        </where>
        order by g.add_time desc 
        <if test="page != null">
        	limit #{page},#{limit}
        </if>
        
    </select>
    <select id="queryInfoRow" resultType="java.lang.Integer" parameterType="com.kiwihouse.vo.kiwihouse.GroupQueryVo">
        select count(*)
        from `group` as g
        left join auth_role as a on g.role_id =a.id
        <where>
            <if test="roleId != null and roleId != ''">
                and g.role_id = #{roleId} <!-- //in (select distinct role_id from parent_admin where parent_id = #{roleId} or role_id = #{roleId}) -->
            </if>
            <if test="groupName !=null and groupName!=''">
                and g.group_name like CONCAT('%',#{groupName},'%')
            </if>
            <if test="cron != null and cron != '' and cron=='ycron'">
                and g.cron!='ncron'
            </if>
            <if test="cron != null and cron != '' and cron=='ncron'">
                and g.cron='ncron'
            </if>
        </where>
    </select>

    <!--add-->
    <insert id="addInfo" parameterType="com.kiwihouse.vo.kiwihouse.GroupAddVo" useGeneratedKeys="true" keyProperty="groupId">
        insert into `group`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="groupName != null and groupName != ''">
                group_name,
            </if>
            <if test="cron != null and cron != ''">
                cron,
            </if>
            <if test="roleId != null and roleId != ''">
                role_id,
            </if>
            add_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="groupName != null and groupName != ''">
                #{groupName},
            </if>
            <if test="cron != null and cron != ''">
                #{cron},
            </if>
            <if test="roleId != null and roleId != ''">
                #{roleId},
            </if>
            #{addTime}
        </trim>
    </insert>

    <!--update-->
    <update id="updateGroup" parameterType="com.kiwihouse.vo.kiwihouse.GroupUpdateVo">
        update `group`
        <set>
            <if test="groupId !=null and groupId !=''">
                group_id=#{groupId},
            </if>
            <if test="groupName !=null and groupName !=''">
                group_name=#{groupName},
            </if>
            <if test="roleId !=null and roleId !=''">
                role_id=#{roleId}
            </if>
        </set>
        <where>
            group_id=#{groupId}
            <if test="doAdminId != null and doAdminId != ''">
                and role_id in (select role_id from administrator as a where a.parent_id = #{doAdminId} or a.role_id = #{doAdminId})
            </if>
        </where>
    </update>
    <update id="updateEqpt" parameterType="com.kiwihouse.vo.kiwihouse.GroupUpdateVo">
        update equipment
        <set>
            <if test="groupId !=null and groupId !=''">
                group_id=#{groupId},
            </if>
            <if test="roleId !=null and roleId !=''">
                role_id=#{roleId},
            </if>
        </set>
        where group_id=#{groupId}
    </update>
    <update id="updateGroupIds" parameterType="java.util.List">
        <foreach collection="list" item="map" index="index" open="" close="" separator=";">
            update `group`
            <set>
                <if test="map.roleId !=null and map.roleId !=''">
                    role_id=#{map.roleId},
                </if>
            </set>
            <where>
                group_id=#{map.groupId}
                <if test="map.doAdminId != null and map.doAdminId != ''">
                    and role_id in (select role_id from administrator as a where a.parent_id = #{map.doAdminId} or a.role_id = #{map.doAdminId})
                </if>
            </where>
        </foreach>
    </update>
	<select id="selectOneInfo" resultType="com.kiwihouse.dto.GroupDto" parameterType="com.kiwihouse.vo.kiwihouse.GroupQueryVo">
		 select g.group_id, g.group_name, g.cron, g.role_id, g.add_time,a.`CODE`
        from `group` as g
        left join auth_role as a on g.role_id=a.ID
        <where>
        	<if test="groupName != null and groupName != '' ">
        		g.group_name = #{groupName}
        	</if>
        </where>
      
	</select>
</mapper>