<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kiwihouse.dao.mapper.SysDictionaryMapper">
  <resultMap id="BaseResultMap" type="com.kiwihouse.dao.entity.SysDictionary">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="KEY" jdbcType="VARCHAR" property="key" />
    <result column="VALUE" jdbcType="VARCHAR" property="value" />
  </resultMap>
  <sql id="Base_Column_List">
    id, KEY, VALUE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_dictionary
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByKey" parameterType="String" resultType="String">
  	select 
    a.`VALUE`
    from sys_dictionary a
    where a.`KEY` = 'LOGO'
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_dictionary
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.kiwihouse.dao.entity.SysDictionary" useGeneratedKeys="true">
    insert into sys_dictionary (KEY, VALUE)
    values (#{key,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.kiwihouse.dao.entity.SysDictionary" useGeneratedKeys="true">
    insert into sys_dictionary
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="key != null">
        KEY,
      </if>
      <if test="value != null">
        VALUE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="key != null">
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kiwihouse.dao.entity.SysDictionary">
    update sys_dictionary
    <set>
      <if test="key != null">
        KEY = #{key,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        VALUE = #{value,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kiwihouse.dao.entity.SysDictionary">
    update sys_dictionary
    set KEY = #{key,jdbcType=VARCHAR},
      VALUE = #{value,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectByType"  resultType="java.util.HashMap" parameterType="String">
  	select `KEY`, `VALUE` from sys_dictionary where type = #{type}
  </select>
  
  <select id="selectByTypeAndKey" resultType="com.kiwihouse.dao.entity.SysDictionary" parameterType="String">
  	select `KEY`, `VALUE` from sys_dictionary where type = #{type} AND `KEY` = #{key}
  </select>
</mapper>